<launch>
  <arg default="true" name="gui" /><arg default="true" name="rviz" />
  <arg default="A1A2B3B4A5B6A7B8A9B10" name="layout" />
  <arg name="data_dir" />
  <arg name="world_file" default="$(find smartcar_sim)/worlds/inspection.world" />
  <arg name="sensor_config" />
  <rosparam command="load" file="$(arg sensor_config)" />
  <node pkg="smartcar_sim" type="laser_noise.py" name="laser_noise" output="screen" required="true" />
  <env name="GAZEBO_MODEL_DATABASE_URI" value="" />
  
  <param name="use_sim_time" value="true" />
  <rosparam file="$(find smartcar_sim)/config/vehicle.yaml" ns="sim" />
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_file)" />
    <arg name="gui" value="$(arg gui)" />
  </include>
  <param name="robot_description" textfile="$(find smartcar_description)/urdf/inspection_car.urdf" />
  <node args="-urdf -param robot_description -model inspection_car -x 3.86 -y 2.8 -z 0.015 -Y 3.141592653589793" name="spawn_car" output="screen" pkg="gazebo_ros" type="spawn_model" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <remap from="joint_states" to="/sim/joint_states" />
  </node>
  <node args="$(arg data_dir)/map.yaml" name="sim_reference_map" pkg="map_server" type="map_server">
    <param name="frame_id" value="sim_world" />
    <remap from="map" to="/geometry_map" />
    <remap from="static_map" to="/geometry_static_map" />
  </node>
  <node args="-d $(find smartcar_bringup)/rviz/single.rviz" if="$(arg rviz)" name="inspection_rviz" pkg="rviz" type="rviz">
    <env name="OGRE_RTT_MODE" value="Copy" />
    <env name="QT_X11_NO_MITSHM" value="1" />
    <env name="QT_AUTO_SCREEN_SCALE_FACTOR" value="0" />
  </node>
</launch>
