<launch>
  <arg name="map_file" default="$(env HOME)/smartcar_2026_ws/data/maps/slam_current/map.yaml" />
  <arg name="scan_topic" default="/scan" />
  <arg name="start_map_server" default="false" />

  <node if="$(arg start_map_server)" pkg="map_server" type="map_server" name="slam_map_server" args="$(arg map_file)">
    <param name="frame_id" value="map" />
  </node>

  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <remap from="scan" to="$(arg scan_topic)" />
  </node>
</launch>
