<launch>
  <arg name="map_file" default="$(env HOME)/smartcar_2026_ws/data/maps/slam_current/map.yaml" />
  <arg name="points" default="$(env HOME)/smartcar_2026_ws/data/maps/slam_current/points.csv" />
  <arg name="sim_imu" default="false" />

  <node pkg="smartcar_navigation" type="laser_noise.py" name="laser_noise" output="screen" />
  <node if="$(arg sim_imu)" pkg="smartcar_navigation" type="imu_bridge.py" name="imu_bridge" output="screen">
    <param name="input_topic" value="/sim/imu" />
    <param name="output_topic" value="/imu/data" />
  </node>
  <node pkg="laser_scan_matcher" type="laser_scan_matcher_node"
        name="laser_scan_matcher_node" output="screen">
    <param name="max_iterations" value="10" />
    <param name="base_frame" value="base_footprint" />
    <param name="fixed_frame" value="odom" />
    <param name="use_odom" value="false" />
    <param name="use_imu" value="$(arg sim_imu)" />
    <param name="publish_tf" value="true" />
    <remap from="scan" to="/scan" />
    <remap from="imu" to="/imu/data" />
  </node>

  <include file="$(find smartcar_navigation)/launch/amcl.launch">
    <arg name="map_file" value="$(arg map_file)" />
  </include>

  <node pkg="smartcar_navigation" type="waypoint_nav.py" name="waypoint_nav" output="screen">
    <param name="points" value="$(arg points)" />
    <param name="frame_id" value="map" />
    <param name="base_frame" value="base_footprint" />
    <param name="wheelbase" value="0.62" />
    <param name="length" value="0.80" />
    <param name="width" value="0.55" />
    <param name="inflate" value="0.30" />
  </node>
</launch>
