<launch>
  <arg name="root" />
  <arg name="low_cost_lines_file" />
  <include file="$(find smartcar_bringup)/launch/single.launch">
    <arg name="config_file" value="$(arg root)/config/navigation.yaml" />
    <arg name="low_cost_lines_file" value="$(arg low_cost_lines_file)" />
  </include>
</launch>
