<launch>
  <arg name="root" />
  <arg name="map_file" />
  <arg name="low_cost_lines_file" />
  <arg name="start_localization" default="true" />
  <include if="$(arg start_localization)" file="$(find smartcar_localization)/launch/localization.launch">
    <arg name="map_file" value="$(arg map_file)" />
    <arg name="params" value="$(arg root)/config/localization.yaml" />
    <arg name="nav_config" value="$(arg root)/config/navigation.yaml" />
  </include>
  <include file="$(find smartcar_bringup)/launch/single.launch">
    <arg name="config_file" value="$(arg root)/config/navigation.yaml" />
    <arg name="low_cost_lines_file" value="$(arg low_cost_lines_file)" />
  </include>
</launch>
